flow.json
[{"id":"ce052c8e4e50c651","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f6c21ae8dba1ea2a","type":"telegram receiver","z":"ce052c8e4e50c651","name":"Entrada Telegram","bot":"2d33ba18f5bd12ac","saveDataDir":"","filterCommands":false,"x":110,"y":140,"wires":[["52ecc7aab6e41c6b"],[]]},{"id":"32cf3e40d97830af","type":"telegram sender","z":"ce052c8e4e50c651","name":"Retorno Telegram","bot":"2d33ba18f5bd12ac","haserroroutput":false,"outputs":1,"x":1030,"y":300,"wires":[[]]},{"id":"15c4e1b999f712da","type":"watson-speech-to-text","z":"ce052c8e4e50c651","name":"STT","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"6BdDT3c8zw0kBbZxDS3NSdiKQTcoPPdLEt4CSNTKX0jr","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e708397b-c553-4569-a183-1aa2b0d2669d","x":450,"y":40,"wires":[["06c3bd759120cc60"]]},{"id":"52ecc7aab6e41c6b","type":"switch","z":"ce052c8e4e50c651","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":140,"wires":[["243dc456487cfa8d"],["83212a412d0f2627"]]},{"id":"243dc456487cfa8d","type":"function","z":"ce052c8e4e50c651","name":"ProcIN STT","func":"msg.params = {\n    type : msg.payload.type,\n    session_id : msg.payload.chatId    \n};\n\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":40,"wires":[["15c4e1b999f712da"]]},{"id":"83212a412d0f2627","type":"function","z":"ce052c8e4e50c651","name":"ProcIN WA","func":"msg.params = {\n    type : msg.payload.type,\n    session_id : msg.payload.chatId    \n};\n\nmsg.payload = msg.payload.content;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":320,"wires":[["06c3bd759120cc60"]]},{"id":"06c3bd759120cc60","type":"watson-assistant-v2","z":"ce052c8e4e50c651","name":"Green WA","service-endpoint":"","assistant_id":"4f6de430-aa03-4add-902a-743262c23daf","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"credentials":{},"x":510,"y":160,"wires":[["88dab374ce405909"]]},{"id":"88dab374ce405909","type":"function","z":"ce052c8e4e50c651","name":"ProcOUT WA","func":"let total = ''\nlet iMax = msg.payload.output.generic.length  \nfor (let i = 0; i < iMax; i++) {\n    if ('source' in msg.payload.output.generic[i]) continue\n    total += msg.payload.output.generic[i].text + '\\n\\n'\n} \n\nmsg.payload = total;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":340,"wires":[["37f0619550cce8bc","32cf3e40d97830af"]]},{"id":"3c8595591788a2fa","type":"function","z":"ce052c8e4e50c651","name":"ProcIN Telegram","func":"msg.payload = {\n    chatId : msg.params.session_id,\n    type : msg.params.type,\n    content : msg.payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":180,"wires":[["32cf3e40d97830af"]]},{"id":"bf7cfb99799f1620","type":"watson-text-to-speech","z":"ce052c8e4e50c651","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"pt-BR_IsabelaV3Voice","format":"audio/wav","password":"","apikey":"UL7qPXC_HHwBHNFaqpiG0VQeLJiBSPA-bfGcoEd50gyX","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/e5483ab6-3079-4ed8-9b83-742e3e51e8f5","x":850,"y":60,"wires":[["3c8595591788a2fa"]]},{"id":"37f0619550cce8bc","type":"switch","z":"ce052c8e4e50c651","name":"","property":"params.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":160,"wires":[["bf7cfb99799f1620"],["3c8595591788a2fa"]]},{"id":"2d33ba18f5bd12ac","type":"telegram bot","botname":"Green","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false,"credentials":{}}]